<section id="careers">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active text-dark">
                <div style="height: 75vh; background-image: url('../../../../assets/hero/hero1.png');background-size: cover ; background-repeat: no-repeat;  ">
                    <div class="container text-center slide1" style="position: relative; top: 50%;">

                        <h1>Join BTG Team</h1>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section style="padding: 100px 0;">
    <div class="container">

        <div class="row mx-auto">
            <div class="col-sm-6">
                <h3>
                    Our employees are the foundation of our success
                </h3>
                <h5 class="mt-4 font-weight-normal">
                    We are constantly looking for talent: high-energy people who enjoy working within multicultural teams to understand our customers’ needs while delivering high-performance solutions with an attractive payback. Some 40% of our staff speak with customers
                    daily in roles such as sales, service, marketing and applications.
                </h5>
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/careers/Rectangle 33.png" style="width: 100%;" alt="">
            </div>
        </div>
    </div>
</section>

<section style="padding: 100px 0;">
    <div class="container">

        <div class="card rounded-0 shadow-lg">
            <div class="card-body text-center">
                <div class="row mx-auto">
                    <div class="col-sm-6">
                        <input type="text" name="" placeholder="Your Name" id="" class="form-control my-4 rounded-0 border-0 border-bottom border-dark">
                        <input type="text" name="" placeholder="Your Address" id="" class="form-control my-4 rounded-0 border-0 border-bottom border-dark">
                        <input type="text" name="" placeholder="City" id="" class="form-control my-4 rounded-0 border-0 border-bottom border-dark">
                        <input type="text" name="" placeholder="Postcode" id="" class="form-control my-4 rounded-0 border-0 border-bottom border-dark">
                        <input type="text" name="" placeholder="Phone Number" id="" class="form-control my-4 rounded-0 border-0 border-bottom border-dark">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="" placeholder="Your Name" id="" class="form-control my-4 rounded-0 border-0 border-bottom border-dark">

                        <label class="text-right">Upload CV</label>
                        <input type="file" name="" placeholder="Your Address" id="" class="form-control mb-4 rounded-0 border-0 border-bottom border-dark">

                        <textarea name="" rows="5" placeholder="Your message" class="form-control mb-4 rounded-0  border-dark"></textarea>
                    </div>
                </div>
                <p class="text-center m-0 my-3">Please note, before applying to a BTG job offer or sending us your résumé/CV, kindly refer to BTG’s Recruitment Policy.</p>

                <button class="btn btn-danger btn-lg">Submit</button>
            </div>
        </div>

    </div>
</section>

<app-footer></app-footer>