<section id="careers">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active text-dark">
                <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                    <div class="container text-center slide1" style="position: relative; top: 65%;">

                        <h2 class="text-white">{{data.heading}}</h2>
                        <h6 class="text-capitalize text-center text-white">{{data.subheading}}</h6>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section style="padding: 100px 0;">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-sm-6">

                <div class="hoverr">

                    <strong>Why Consistency?</strong>
                    <p>Consistency is the foundational parameter in all pulp and paper making processes to manage mass flow at a target consistency.</p>
                </div>

                <div class="hoverr">
                    <strong>What is Consistency?</strong>
                    <p>Consistency is defined by the total content of dry solids in the pulp slurry, the slurry being made of water, fibers, fines and fillers. In other words, this is the weight of suspended solids per litre of liquid, and can be summarized
                        as:
                    </p>
                    <div class="d-inline">Total consistency (%) =</div>
                    <div class="fraction " top="dry weight of sample" bottom="total weight of sample"></div>
                    <div class="d-inline"> x 100</div>
                    <br><br>
                    <p>Watch the <b><a href="https://youtu.be/-7BXl-_DiPo" target="_blank" class="text-danger">Consistency basics</a></b> video.</p>
                </div>



            </div>

            <div class="col-sm-6">

                <div class="hoverr">
                    <strong>What BTG does? BTG makes it easy!</strong>

                    <p>BTG is the market leader in consistency solutions. BTG is offering a portfolio of solutions, to meet all possible situations and challenges. The solutions are a combination of appropriate instruments, strong expertise, relevant service
                        and right software. There is not one size fits all! Together with you, and depending on your situation and your objectives, our experts will define what is the best solution for you.</p>
                </div>

                <div class="hoverr">
                    <strong>Why Consistency Control is Very Important?</strong>
                    <p>Poor consistency control leads to quality variability!</p>
                </div>

                <div class="hoverr">
                    <strong>Economic Advantage?</strong>
                    <p>Savings can range from $50,000 -$400,000</p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="justify-content-center  text-center mt-4 pt-4" style="padding: 50px 0;">
                    <img src="../../assets/brochure.png" class="col-sm-6" alt="">
                    <br />
                    <br />

                </div>
            </div>
            <div class="col-sm-6 align-self-center  text-center mt-4 pt-4">
                <a href="#" class="text-danger" style="font-weight: 700;"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download & read the FiberMAX Brochure
                </a>
            </div>
        </div>


        <!-- <div class="justify-content-center text-center mt-4 pt-4" style="padding: 20px 0;">
            <h4>This solution uses</h4>

            <div class="row mx-auto mt-4 py-4">
                <div class="col-4">
                    <h6 class="text-left"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="28" viewBox="0 0 26 28" fill="none">
                            <path
                                d="M23.8954 26.7272H2.10495C1.60971 26.7272 1.23828 26.3454 1.23828 25.8363V2.16361C1.23828 1.65452 1.60971 1.27271 2.10495 1.27271H24.0192C24.3907 1.27271 24.7621 1.65452 24.7621 2.16361V25.8363C24.7621 26.3454 24.3907 26.7272 23.8954 26.7272Z"
                                stroke="#D0021B" stroke-width="2" stroke-linecap="round" />
                            <path d="M6.19043 16.5454H19.8095" stroke="#D0021B" stroke-width="2"
                                stroke-linecap="round" />
                            <path d="M11.1426 21.6365H14.8569" stroke="#D0021B" stroke-width="2"
                                stroke-linecap="round" />
                            <path d="M6.19043 11.8362H19.8095" stroke="#D0021B" stroke-width="2"
                                stroke-linecap="round" />
                            <path d="M6.19043 6.61816H19.8095" stroke="#D0021B" stroke-width="2"
                                stroke-linecap="round" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.42834 21.6363C7.42834 22.3999 6.9331 22.909 6.19024 22.909C5.44739 22.909 4.95215 22.3999 4.95215 21.6363C4.95215 20.8726 5.44739 20.3635 6.19024 20.3635C6.9331 20.3635 7.42834 20.8726 7.42834 21.6363Z"
                                fill="#D0021B" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M21.0475 21.6363C21.0475 22.3999 20.5522 22.909 19.8094 22.909C19.0665 22.909 18.5713 22.3999 18.5713 21.6363C18.5713 20.8726 19.0665 20.3635 19.8094 20.3635C20.5522 20.3635 21.0475 20.8726 21.0475 21.6363Z"
                                fill="#D0021B" />
                        </svg> &nbsp;&nbsp;BTG Products</h6>
                    <p class="text-left mt-4">Accurate, reliable and fast process measurements</p>
                </div>
                <div class="col-4">
                    <h6 class="text-left"><svg xmlns="http://www.w3.org/2000/svg" width="37" height="29" viewBox="0 0 37 29" fill="none">
                            <path
                                d="M1.6084 26.3636V17.0045C1.6084 16.2136 2.25188 15.6863 3.21709 15.6863H12.8693V9.49084C12.8693 8.69993 13.5127 8.17266 14.478 8.17266H24.1301V2.6363C24.1301 1.84539 24.7736 1.31812 25.7388 1.31812H33.7823C34.7475 1.31812 35.391 1.84539 35.391 2.6363V26.3636C35.391 27.1545 34.7475 27.6817 33.7823 27.6817H3.21709C2.25188 27.6817 1.6084 27.1545 1.6084 26.3636Z"
                                stroke="#D0021B" stroke-width="2" />
                            <path d="M12.8691 15.8181V22.409" stroke="#D0021B" stroke-width="2"
                                stroke-linecap="round" />
                            <path d="M24.1299 7.90894V13.0498" stroke="#D0021B" stroke-width="2"
                                stroke-linecap="round" />
                            <path d="M24.1299 18.4546V22.4091" stroke="#D0021B" stroke-width="2"
                                stroke-linecap="round" />
                        </svg>&nbsp;&nbsp;BTG Analyzes</h6>
                    <p class="text-left mt-4">Implementation of Advanced Process Controls to improve performance to target
                    </p>
                </div>
                <div class="col-4">
                    <h6 class="text-left"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="38" viewBox="0 0 27 38" fill="none">
                            <g clip-path="url(#clip0)">
                                <path
                                    d="M16.9359 13.4902C16.9359 15.4825 15.3718 17.0502 13.5002 17.0502C11.6285 17.0502 10.0645 15.4825 10.0645 13.4902C10.0645 11.4978 11.6285 9.93018 13.5002 9.93018C15.3718 9.93018 16.9359 11.4978 16.9359 13.4902Z"
                                    fill="white" stroke="#EA2F29" stroke-width="2" />
                                <path
                                    d="M7.16143 24.841L7.24978 24.2209L6.73037 23.8708C3.30328 21.5607 1 17.8635 1 13.49C1 6.62786 6.53527 1 13.5 1C20.4647 1 26 6.62786 26 13.49C26 17.6811 23.6897 21.5654 20.2696 23.8708L19.7488 24.2219L19.8389 24.8435L21.3818 35.4835L21.3858 35.5114L21.3914 35.5389C21.515 36.1475 21.2415 36.5869 20.9653 36.7229C20.5227 36.9409 20.3576 37 20.25 37C20.1466 37 19.9903 36.9455 19.5859 36.748L14.0423 33.1698L13.4759 32.8042L12.9245 33.1922L7.59589 36.942C7.1389 37.1436 6.57283 37.146 6.11328 36.949C5.87764 36.761 5.73842 36.5764 5.66304 36.4066C5.58444 36.2296 5.55052 36.0149 5.60858 35.729L5.61443 35.7001L5.61858 35.671L7.16143 24.841ZM3.43571 13.49C3.43571 18.9963 7.94755 23.42 13.5 23.42C19.0524 23.42 23.5643 18.9963 23.5643 13.49C23.5643 7.9837 19.0524 3.56 13.5 3.56C7.94755 3.56 3.43571 7.9837 3.43571 13.49Z"
                                    fill="white" stroke="#EA2F29" stroke-width="2" />
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="27" height="38" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>&nbsp;&nbsp;BTG Experts</h6>
                    <p class="text-left mt-4">Maximization of knowledge and benefits</p>
                </div>
            </div>
        </div> -->


    </div>
</section>
<section class="contact-home">
    <div class="text-center" style="position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%);">
        <h3 class="text-center">Can’t find a solution you are after?
            <br>We can still help, talk to our experts today
        </h3>
        <button class="btn btn-danger btn-lg mt-4">Contact BTG</button>
    </div>

</section>
<br><br><br>
<!-- <section class="bg-light" style="padding: 100px 0;">
    <div class="container">
        <h3 class="text-center">Our featured solutions</h3>
        <p class="text-center no-wrap">
            We offer optimized, customized solutions for a range of applications. Below are some key examples of the
            challenges we can overcome. If your process isn’t featured here, contact our team to learn more
        </p>

        <div class="row mx-auto my-4">
            <div class="col-sm-4">
                <div class="card border-0 shadow-sm bg-white m-2">
                    <div class="card-body">
                        <h6>Consistency control</h6>
                        <p>
                            Optimize pulp & paper productivity through accurate consistency management as fundamental
                            for improved economic benefits
                        </p>
                        <a href="#" class="text-danger">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 shadow-sm bg-white m-2">
                    <div class="card-body">
                        <h6>Consistency control</h6>
                        <p>
                            Optimize pulp & paper productivity through accurate consistency management as fundamental
                            for improved economic benefits
                        </p>
                        <a href="#" class="text-danger">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 shadow-sm bg-white m-2">
                    <div class="card-body">
                        <h6>Consistency control</h6>
                        <p>
                            Optimize pulp & paper productivity through accurate consistency management as fundamental
                            for improved economic benefits
                        </p>
                        <a href="#" class="text-danger">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 shadow-sm bg-white m-2">
                    <div class="card-body">
                        <h6>Consistency control</h6>
                        <p>
                            Optimize pulp & paper productivity through accurate consistency management as fundamental
                            for improved economic benefits
                        </p>
                        <a href="#" class="text-danger">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 shadow-sm bg-white m-2">
                    <div class="card-body">
                        <h6>Consistency control</h6>
                        <p>
                            Optimize pulp & paper productivity through accurate consistency management as fundamental
                            for improved economic benefits
                        </p>
                        <a href="#" class="text-danger">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 shadow-sm bg-white m-2">
                    <div class="card-body">
                        <h6>Consistency control</h6>
                        <p>
                            Optimize pulp & paper productivity through accurate consistency management as fundamental
                            for improved economic benefits
                        </p>
                        <a href="#" class="text-danger">Know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<app-footer></app-footer>