<section id="about">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active text-dark">
                <div style="height: 75vh; background-image: url('../../../../assets/hero/hero1.png');background-size: cover ; background-repeat: no-repeat;  ">
                    <div class="container text-center slide1" style="position: relative; top: 50%;">

                        <h1>Export control compliance</h1>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section style="padding: 100px 0;">
    <div class="container">


        <div class="row mx-auto my-4">
            <div class="col-sm-4 d-inline-block">

                <img src="../../assets/history/history.png" style="width: 100%; " alt="" srcset="">
            </div>

            <div class="col-sm-8 d-inline-block">
                <p>BTG has implemented rigorous process controls on all exports for the purpose of:</p>
                <ul>
                    <li>Preventing exports of dual-use products, i.e. products (documentation, information) for both civilian and military applications, which can be used for the development, production and deployment of weapons of mass destruction.</li>
                    <li>Preventing exports of military products (documentation, information) to countries whose behavior is a threat to international peace and security.</li>
                    <li>Complying with United States (US), European Union (EU), Swiss and various international organizations’ export restrictions (sanctions and embargoes) vis-à-vis specific countries with a view to changing the behavior of these countries.</li>
                </ul>
                <p>We assume responsibility for investigating whether specific product exports, technologies or technical assistance are subject to export control regulations. Many nations and regions, including Switzerland, the European Union, and the United
                    States have laws to control the export of strategic products, technology and software.</p>
                <p>It is BTG’s express policy to fully comply with all applicable export controls, which are summarized in the BTG Export Controls Compliance Manual. Any BTG employee who knowingly violates such controls or this compliance policy will be
                    subject to appropriate disciplinary action.</p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>