<!-- tissue ->operational-intelligence->dataparc start -->
<div *ngIf="catName=='tissue' && subCatName=='operational-intelligence' && subSubCatName=='dataprc'">
    <!-- <section id="dataprc">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 65%;">

                            <h2 class="text-white">dataPRC</h2>
                            <h6 class="text-capitalize text-white text-center">Transforming data into operational intelligence
                            </h6>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white">dataPRC</h2>
        <h6 class="text-capitalize text-white text-center">Transforming data into operational intelligence
        </h6>
    </div>


    <section style="padding: 100px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6 hoverr">

                    <strong>What is dataPARC?</strong>
                    <p class="mt-3">dataPARC is a digitalization solution for production plants and enterprises. It is an invaluable ingredient to any industry 4.0 initiative.
                    </p>

                </div>

                <div class="col-sm-1"></div>

                <div class="col-sm-5 hoverr">
                    <strong>Why dataPARC?</strong>
                    <img src="../../assets/dataPRC/dataPRC1.png" class="img-fluid mt-3" style="width: auto;height: auto;" alt="">

                </div>

            </div>

        </div>
    </section>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6 hoverr">

                    <strong>What does dataPARC offers?</strong>
                    <p class="mt-3 text-justify">In addition to traditional Process Information Management System (PIMS), dataPARC offers tools for multi-variable process modeling. By means of Artificial Intelligence (AI) and Machine Learning, the models can be turned to soft sensors
                        and digital twins and then utilized in descriptive, predictive and prescriptive analytics.
                    </p>
                    <p class="mt-3 text-justify">Today’s capabilitities for managing Big Data, collected from IIoT (Industrial Internet of Things) devices and systems are combined with the most versatile visualization tools on the market, combined with the industry specific functionalities
                        for pulp, paper and tissue.</p>
                    <p class="mt-3 text-justify">dataPARC provides the right information to the right people at the right time to help teams to collaborate and share the same goals, anywhere and at any time.</p>
                </div>

                <div class="col-sm-1">

                </div>

                <div class="col-sm-5 hoverr">

                    <img src="../../assets/dataPRC/dataPRC2.png" class="img-fluid mt-3" style="width: auto;height: auto;" alt="">

                </div>

            </div>

        </div>
    </section>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6 m-auto" style="text-align: center;">
                    <img src="../../assets/dataPRC/dataPRC3.png" class="img-fluid mt-3" style="width: 265px;height: 360px;margin: auto;display: block;" alt="">

                </div>

                <div class="col-sm-6 align-self-center text-center" style="justify-content: center;align-items: center;">
                    <select name="" id="" class="form-control w-50 bg-danger text-white mx-auto">
                        <option value="">English</option>
                        <option value="">Spanish</option>
                    </select>
                    <br>
                    <a href="#" class="text-danger font-weight-bold"> <i class="fa fa-download"></i> Download & read the dataPARC Brochure</a>

                </div>

            </div>

        </div>
    </section>


</div>
<!-- tissue ->operational-intelligence->dataparc end -->

<!-- tissue ->performance-solutions->fibermax start -->
<div *ngIf="catName=='tissue' && subCatName=='performance-solutions' && subSubCatName=='fibermax'">
    <!-- <section id="dataprc">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 65%;">

                            <h2 class="text-white">FiberMAX
                            </h2>
                            <h6 class="text-capitalize text-white text-center">Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            </h6>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white">FiberMAX
        </h2>
        <h6 class="text-capitalize text-white text-center">Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        </h6>

    </div>


    <section style="padding: 100px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6 hoverr">

                    <strong>What is FiberMAX?</strong>
                    <p class="mt-3 text-justify">FiberMAX A holistic approach to reduce variability, allowing papermakers to get the most from every fiber.
                    </p>
                    <p class="mt-3 text-justify">FiberMAX is BTG’s process to approach the wet end of a paper machine to provide an on-ramp to digital Industry 4.0 projects. FiberMAX will identify and correct large sources of process variation in our areas of expertise: Consistency
                        and Headbox Energy. This variation and capability review of the consistency control loops ensures that customers that desire lower variability have not overlooked important fundamental factors before advancing to using measurements
                        like freeness or morphology to control their wet end process.
                    </p>
                </div>

                <div class="col-sm-1">

                </div>

                <div class="col-sm-4 hoverr">
                    <strong>Advantages</strong>
                    <ul>
                        <li class="mt-2">
                            Reduced raw material cost
                        </li>
                        <li class="mt-2">
                            Improved formation
                        </li>
                        <li class="mt-2">
                            Reduced strength variation
                        </li>
                        <li class="mt-2">
                            Reduced additives consumption
                        </li>
                        <li class="mt-2">
                            Advanced controls enabled
                        </li>
                    </ul>


                </div>

            </div>

        </div>
    </section>

    <section style="padding-bottom: 100px;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6 m-auto hoverr">

                    <strong>What BTG Does? BTG makes it easy!</strong>
                    <p class="mt-3 text-justify">BTG experts evaluate your fibre properties with reference to our database of market pulps. We identify whether pulp substitutions are contributing to quality variation, to guide your purchasing decisions.
                    </p>

                    <strong>Why FiberMAX?</strong>

                    <ul>
                        <li class="mt-2">
                            FiberMAX lowers Variation at Recycled Containerboard mill
                        </li>
                        <li class="mt-2">
                            FiberMAX increases the number of healthy loops at Virgin SWD Containberboard mill
                        </li>

                    </ul>


                </div>

                <div class="col-sm-6" style="text-align: center;">
                    <img src="../../assets/fibermax/fibermax.png" class="img-fluid mt-3 mb-3" style="width: 361px;height: 365px;margin: auto;display: block;" alt="">
                    <strong>The FiberMAX cycle</strong>
                </div>

            </div>

        </div>
    </section>


</div>
<!-- tissue ->performance-solutions->firbermax end -->

<!-- tissue ->control-loop-performance-management->controlsuit start -->
<div *ngIf="catName=='tissue' && subCatName=='control-loop-performance-management' && subSubCatName=='controlsuite'">
    <!-- <section id="controlsuite">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 65%;">

                            <h2 class="text-white">CONTROLsuite
                            </h2>
                            <h6 class="text-capitalize text-white text-center">Optimize your loop performance in an intuitive, user-friendly and comprehensive way

                            </h6>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section> -->


    <div class="red-title-banner">
        <h2 class="text-white">CONTROLsuite
        </h2>
        <h6 class="text-capitalize text-white text-center">Optimize your loop performance in an intuitive, user-friendly and comprehensive way

        </h6>

    </div>


    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6 hoverr">

                    <strong>What does CONTROLsuite?</strong>
                    <p class="mt-3 text-justify">CONTROLsuite provides a complete overview of loop performance throughout the entire facility. It identifies and prioritizes loops that are not performing satisfactorily and identifies the root causes of loop issues.

                    </p>
                    <p class="mt-3 text-justify">This integrated platform permits continuous loop monitoring and a tool box for evaluation and tuning whenever required.
                    </p>
                    <p class="mt-5">Learn more about the <span style="color:#EA2F29;font-weight: 600;">CONTROLsuite
                            animation</span> by video.</p>

                    <strong class="mt-3">Why CONTROLsuite?</strong>
                    <ul>
                        <li class="mt-2">
                            Energy savings (1-2%)
                        </li>
                        <li class="mt-2">
                            Productivity increase (4-8%)
                        </li>
                    </ul>
                </div>

                <div class="col-sm-1"></div>


                <div class="col-sm-5 hoverr">
                    <strong>What BTG does? BTG makes it easy!</strong>
                    <p class="mt-3 text-justify">With <span style="color:#EA2F29;font-weight: 600;">CONTROLsuite</span>, optimum performance is possible. CONTROLsuite provides a complete overview of loop performance throughout the entire facility. It identifies and prioritizes the
                        loops that are not performing satisfactorily and identifies the root causes of loop issues.This integrated platform permits continuous loop monitoring and a tool box for evaluation and tuning whenever required.</p>



                </div>

                <div class="col-sm-6">
                    <div class="justify-content-center  text-center mt-4 pt-4" style="padding: 50px 0;">
                        <img src="../../assets/brochure.png" class="col-sm-6" alt="">
                        <br />
                        <br />

                    </div>
                </div>
                <div class="col-sm-6 align-self-center  text-center mt-4 pt-4">
                    <a href="#" class="text-danger" style="font-weight: 700;"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download & read the CONTROLsuite Brochure
                    </a>
                </div>

            </div>

        </div>
    </section>




</div>
<!--  tissue ->control-loop-performance-management->controlsuit end -->

<!--  tissue ->operational-safety->prodry start -->
<div *ngIf="catName=='tissue' && subCatName=='operational-safety' && subSubCatName=='prodry'">

    <!-- <section id="controlsuite">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 30vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 75%;">

                            <h2 class="text-white">PROdry Yankee dryer services</h2>
                        

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white">PROdry Yankee dryer services</h2>

    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6 hoverr">


                    <p class="mt-3 text-justify"> <strong>PROdry</strong> thermal imaging technology has been continuously developed over the last 16 years, with over 100 machines audited from most major tissue making groups, with many machines audited multiple times.

                    </p>
                    <p class="mt-3 text-justify"><strong>PROdry's</strong> infrared analysis technology records a stop-action image of the Yankee over one revolution, synchronised with a known reference point to provide a precise location map of the Yankee dryers thermal properties.
                        This allows the engineer to identify various components of the condensate removal system and diagnose any issues which may exist. These may need correction during a planned maintenance shut, or settings may be adjusted during the
                        audit. Along with a review of other critical dryer key performance indicators, tests may be made with dryer variables, such as blowthrough velocity and differential pressure in order to optimize the thermal profile.

                    </p>

                </div>

                <div class="col-sm-1">

                </div>

                <div class="col-sm-5">
                    <div class="hoverr">
                        <p class="mt-3 text-justify">
                            BTG PROdry precision linescan thermal imaging is used by tissuemakers globally to troubleshoot Yankee issues under normal operating conditions, without the need for shutdown. Amongst the questions we can answer with a PROdry audit are:
                        </p>

                        <ul>
                            <li class="mt-2">
                                Is chatter damage occurring due to a Yankee internal or steam system operating condition?
                            </li>
                            <li class="mt-2">
                                Is a particular header of straw(s) damaged?
                            </li>
                            <li class="mt-2">
                                Is my CD profile issue Yankee related?
                            </li>
                            <li class="mt-2">
                                Is my MD profile issue Yankee related?
                            </li>
                            <li class="mt-2">
                                Is my blowthrough or delta P control working correctly?
                            </li>

                            <li class="mt-2">
                                Is my thermo compressor operating correctly?
                            </li>
                            <li class="mt-2">
                                What is the cause of my blistering issue?
                            </li>
                        </ul>
                    </div>



                </div>



            </div>

        </div>
    </section>
    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="prodry-data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">Please login to view Data sheets and more</button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->



</div>
<!-- tissue ->operational-safety->prodry end -->


<!--  packaging->strength-management->surfmax start -->
<div *ngIf="catName=='packaging' && subCatName=='strength-management' && subSubCatName=='surfmax'">
    <!-- <section id="controlsuite">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 65%;">

                            <h2 class="text-white">SURFMAX</h2>
                            <h6 class="text-capitalize text-white text-center">Reduce size press costs and increase sustainability by managing strength variation</h6>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white">SURFMAX</h2>
        <h6 class="text-capitalize text-white text-center">Reduce size press costs and increase sustainability by managing strength variation</h6>

    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6">
                    <div class="hoverr">
                        <strong>What is SurMAX?</strong>
                        <p class="mt-3 text-justify">SurfMAX is BTG’s unique solution for surface application of starch, aiming for reduced starch consumption and energy savings. SurfMAX uses industry leading expertise, novel measurements and online analytics to ensure controlled
                            starch application on metered size press. SurfMAX can provide sustainable gains in business performance valued up to 3,000 k€, via starch and energy savings, reduced downtime, and improved overall surface sizing performance.

                        </p>
                        <p class="mt-3 text-justify">Learn more from the <span style="color: #EA2F29;font-weight: 600;">SurfMAX</span> animation video.

                        </p>
                    </div>

                    <div class="hoverr">


                        <strong>What does SurMAX consists of?</strong>

                        <p class="mt-3 text-justify">
                            SurfMAX involves an expert physical audit of starch kitchen and metered size press. Improvements to the set-up of these areas and the installation of two novel starch measurements will improve the performance of the film press.
                        </p>
                    </div>

                </div>

                <div class="col-sm-1">

                </div>

                <div class="col-sm-5">

                    <div class="hoverr">


                        <strong>What BTG does? BTG makes it easy!</strong>
                        <p class="mt-3 text-justify">
                            With SurfMAX, BTG experts will support you the whole way, working closely with the mill personnel. Novel inline instrumentation combined with appropriate metering elements enable an optimized starch application. Stable starch properties together with
                            optimized running parameters reduce strength variation leading to starch and energy savings.
                        </p>
                    </div>


                    <div class="hoverr mt-5">
                        <strong>Benfits</strong>

                        <ul>
                            <li class="mt-2">Strength Variability</li>
                            <li class="mt-2">Environmental Impact</li>
                            <li class="mt-2">Cost Reduction</li>
                            <li class="mt-2">Stable Quality</li>
                        </ul>

                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="justify-content-center  text-center mt-4 pt-4" style="padding: 50px 0;">
                        <img src="../../assets/surfmaxbrochure.png" class="col-sm-6" alt="">
                        <br />
                        <br />

                    </div>
                </div>
                <div class="col-sm-6 align-self-center  text-center mt-4 pt-4">
                    <a href="#" class="text-danger" style="font-weight: 700;"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download & read the SurfMAX Brochure
                    </a>
                </div>



            </div>

        </div>
    </section>





</div>
<!--  packaging->strength-management->surfmax end -->


<!--  packaging->strength-management->instrument start -->
<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument'">
    <!-- <section id="controlsuite">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 30vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 75%;">

                            <h2 class="text-white">Instrument</h2>
                            
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white">Instrument</h2>
    </div>


    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6">

                    <img src="../../assets/instrument-new.png" class="img-fluid" alt="">

                </div>


                <div class="col-sm-6">

                    <div class="row1">
                        <div class="column">
                            <figure>
                                <a routerLink="/product/1" [queryParams]="{catname : 'tissue' , subname:'consistency-control', subsubname:'instrument' , pname : 'MEK-3000' }" class="anchor">
                                    <img src="../../assets/instrument_pro/mek-3000.png" style="width:80px;height: 60px;">
                                    <br> MEK-3000
                                </a>

                            </figure>
                        </div>

                        <div class="column">
                            <figure>
                                <a routerLink="/product/1" [queryParams]="{catname : 'tissue' , subname:'consistency-control', subsubname:'instrument' , pname : 'ACT-2500' }" class="anchor">
                                    <img src="../../assets/instrument_pro/act-2500.png" style="width:50px;height: 60px;">
                                    <br> ACT-2500
                                </a>
                            </figure>
                        </div>

                        <div class="column">
                            <figure>
                                <a routerLink="/product/1" [queryParams]="{catname : 'tissue' , subname:'consistency-control', subsubname:'instrument' , pname : 'MBT-2500' }" class="anchor">
                                    <img src="../../assets/instrument_pro/mbt-2500.png" style="width:90px;height: 60px;">
                                    <br> MBT-2500
                                </a>
                            </figure>
                        </div>

                        <div class="column">
                            <figure>
                                <a routerLink="/product/1" [queryParams]="{catname : 'tissue' , subname:'consistency-control', subsubname:'instrument' , pname : 'SBT-2400' }" class="anchor">
                                    <img src="../../assets/instrument_pro/sbt-2400.png" style="width:80px;height: 58px;">
                                    <br> SBT-2400
                                </a>
                            </figure>
                        </div>
                    </div>

                    <!--  -->

                    <div class="row1">


                        <div class="column">
                            <figure>
                                <a routerLink="/product/1" [queryParams]="{catname : 'tissue' , subname:'consistency-control', subsubname:'instrument' , pname : 'TCX-25xx' }" class="anchor">
                                    <img src="../../assets/instrument_pro/tcr-25xx.png" style="width:80px;height: 60px;">
                                    <br> TCR-25xx
                                </a>
                            </figure>
                        </div>

                        <div class="column">
                            <figure>
                                <a routerLink="/product/1" [queryParams]="{catname : 'tissue' , subname:'consistency-control', subsubname:'instrument' , pname : 'TCT-25x1' }" class="anchor">
                                    <img src="../../assets/instrument_pro/tct-25x1.png" style="width:80px;height: 60px;">
                                    <br> TCT-25x1
                                </a>
                            </figure>
                        </div>



                    </div>

                    <div class="row1">


                        <div class="column">
                            <figure>
                                <a routerLink="/product/1" [queryParams]="{catname : 'tissue' , subname:'consistency-control', subsubname:'instrument' , pname : 'MCT-2000' }" class="anchor">
                                    <img src="../../assets/instrument_pro/mct-2000.png" style="width:80px;height: 60px;">
                                    <br> MCT-2000
                                </a>
                            </figure>
                        </div>




                    </div>

                    <div class="row1">


                        <div class="column">
                            <figure>
                                <a routerLink="/product/1" [queryParams]="{catname : 'tissue' , subname:'consistency-control', subsubname:'instrument' , pname : 'MCS-1000' }" class="anchor">
                                    <img src="../../assets/instrument_pro/mcs-1000.png" style="width:100px;height: 60px;">
                                    <br> MCS-1000
                                </a>
                            </figure>
                        </div>

                        <div class="column">
                            <figure>
                                <a routerLink="/product/1" [queryParams]="{catname : 'tissue' , subname:'consistency-control', subsubname:'instrument' , pname : 'MPS-/PPS-1000' }" class="anchor">
                                    <img src="../../assets/instrument_pro/mps-pps-1000.png" style="width:100px;height: 60px;">
                                    <br> MPS-/PPS-1000
                                </a>
                            </figure>
                        </div>



                    </div>
                </div>






            </div>

        </div>
    </section>


</div>

<!--  packaging->strength-management->instrument end -->

<app-footer></app-footer>