<!-- Pulp page start of main catagory -->
<div *ngIf="catName == 'Pulp'">

    <section id="pulp">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h1 class="text-white">{{data[1].heading}}</h1>
                            <!-- <h4 class="text-capitalize text-white text-center">{{data[1].subheading}}</h4> -->

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6">

                    <strong style="font-size: 25px;">Optimize quality and reduce costs with Industry 4.0 tools across
                        the fiberline</strong>
                    <p class="mt-5">Optimizing fiberline productivity and profitability is a key challenge for pulp mills.
                    </p>
                    <p>
                        To support this objective, BTG offers an integrated approach in the improvement journey: BTG Pulp 4.0. In this solution, process measurements are combined with advanced process controls and supported by BTG expertise.
                    </p>





                </div>

                <div class="col-sm-6">

                    <img src="../../assets/pulp/pulp1.png" class="img-fluid" style="width: auto;height: auto;" alt="">

                </div>

            </div>

        </div>
    </section>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6 col-12 mb-5">
                    <!-- <strong style="font-size: 25px;">BTG Pulp 4 0
                        the fiberline</strong>
                    <div id="container1">
                        <div id="navi" style="background-color: #FCE0DF;width: 200px;height: 300px;"></div>
                        <div id="infoi">
                            <iframe class="mt-5 ml-5" width="280" height="200" src="https://www.youtube.com/embed/NKzd_YiW9AQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                    </div>
                    <p>Pulp 4.0 is the BTG solution to optimize quality and reduce cost with Industry 4.0 tools across the fiberline</p> -->
                    <strong style="font-size: 25px;">BTG Pulp 4 0
                        the fiberline</strong>
                    <iframe class="mt-5" width="300" height="200" src="https://www.youtube.com/embed/NKzd_YiW9AQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="mt-5">Pulp 4.0 is the BTG solution to optimize quality and reduce cost with Industry 4.0 tools across the fiberline</p>
                </div>

                <div class="col-sm-2">

                </div>

                <div class="col-sm-4 col-12 m-auto" style="text-align: center;">

                    <img src="../../assets/pulp/pulp2.png" class="img-fluid mb-5" style="width: 274px;height: 376px;" alt="">
                    <a href="#" class="text-danger" style="font-weight: 700;"> Download & read the Pulp 4.0 Brochure</a>

                </div>

            </div>

        </div>
    </section>

    <section class="contact-home" style="padding-bottom: 50px;">
        <div class="text-center" style="position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%);">
            <h3 class="text-center">Can’t find a solution you are after?
                <br>We can still help, talk to our experts today
            </h3>
            <button class="btn btn-danger btn-lg mt-4">Contact BTG</button>
        </div>

    </section>
    <app-footer></app-footer>
</div>
<!-- Pulp page end of main catagory -->

<!-- Tissue page start of main catagory -->
<div *ngIf="catName == 'Tissue'">
    <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 55vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 55%;">

                            <h1 class="text-white">{{data[0].heading}}</h1>
                            <h4 class="text-capitalize text-white text-center">{{data[0].subheading}}</h4>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section style="padding: 100px 0;">
        <div class="container">
            <div class="row  mx-auto">
                <div class="col-sm-5 justify-content-center">
                    <img [src]="data[0].img1" style="width: 100%; height: 100%;" alt="">
                </div>

                <div class="col-sm-7 ">
                    <a href="#lev4">
                        <div class="strip level1 text-dark">
                            Autonomous Control
                        </div>
                    </a>
                    <a href="#lev3">
                        <div class="strip level2 text-dark">
                            Process Control
                        </div>
                    </a>
                    <a href="#lev2">
                        <div class="strip level3 text-dark">
                            Vizualization, Diagnostic
                        </div>
                    </a>
                    <a href="#lev1">
                        <div class="strip level4 text-dark">
                            Smart Equipment
                        </div>
                    </a>
                </div>
            </div>

            <p class="mt-4 text-justify">
                {{data[0].para1}}
            </p>
            <p class="mt-4 text-justify">

                {{data[0].para2}}

            </p>
        </div>
    </section>

    <section class="bg-light" style="padding: 100px 0;">
        <div class="container">
            <h3 class="text-center">Our featured solutions</h3>
            <!-- <p class="text-center no-wrap">
                We offer optimized, customized solutions for a range of applications. Below are some key examples of the
                challenges we can overcome. If your process isn’t featured here, contact our team to learn more
            </p>
    
            <div class="row mx-auto my-4">
                <div class="col-sm-4">
                    <div class="card border-0 shadow-sm bg-white m-2">
                        <div class="card-body">
                            <h6>Consistency control</h6>
                            <p>
                                Optimize pulp & paper productivity through accurate consistency management as fundamental
                                for improved economic benefits
                            </p>
                            <a href="#" class="text-danger">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0 shadow-sm bg-white m-2">
                        <div class="card-body">
                            <h6>Consistency control</h6>
                            <p>
                                Optimize pulp & paper productivity through accurate consistency management as fundamental
                                for improved economic benefits
                            </p>
                            <a href="#" class="text-danger">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0 shadow-sm bg-white m-2">
                        <div class="card-body">
                            <h6>Consistency control</h6>
                            <p>
                                Optimize pulp & paper productivity through accurate consistency management as fundamental
                                for improved economic benefits
                            </p>
                            <a href="#" class="text-danger">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0 shadow-sm bg-white m-2">
                        <div class="card-body">
                            <h6>Consistency control</h6>
                            <p>
                                Optimize pulp & paper productivity through accurate consistency management as fundamental
                                for improved economic benefits
                            </p>
                            <a href="#" class="text-danger">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0 shadow-sm bg-white m-2">
                        <div class="card-body">
                            <h6>Consistency control</h6>
                            <p>
                                Optimize pulp & paper productivity through accurate consistency management as fundamental
                                for improved economic benefits
                            </p>
                            <a href="#" class="text-danger">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0 shadow-sm bg-white m-2">
                        <div class="card-body">
                            <h6>Consistency control</h6>
                            <p>
                                Optimize pulp & paper productivity through accurate consistency management as fundamental
                                for improved economic benefits
                            </p>
                            <a href="#" class="text-danger">Know more</a>
                        </div>
                    </div>
                </div>
            </div> -->

            <div id="lev4" class="row my-4 mx-auto text-center justify-content-center" style="padding: 60px 0;">
                <img [src]="data[0].img2" style="width: 31%;; height: 31%;" />
            </div>

            <div id="lev3" class="row my-4 mx-auto justify-content-center" style="padding: 60px 0;">
                <div class="col-sm-4">
                    <p class="mb-0"><strong>CONTROL LOOP PERFORMANCE MANAGEMENT</strong></p>
                    <p>Ability to identify and tune low-performing Control Loops to increase overall performance</p>

                    <p class="mb-0"><strong>ADVANCED PROCESS CONTROL</strong></p>
                    <p>Standardize and centerline the control strategy of process to increase focus</p>
                </div>
                <div class="col-sm-4">
                    <img [src]="data[0].img3" style="width: 100%;; height: 100%;" />
                </div>
                <div class="col-sm-4">
                    <p class="mb-0 text-right"><strong>PREDICTIVE MODELLING SOLUTIONS</strong></p>
                    <p class="text-right">Usage of softsensors to reduce variability and optimize output leading to optimal product quality</p>
                </div>
            </div>

            <div id="lev2" class="row my-4 mx-auto justify-content-center" style="padding: 60px 0;">
                <div class="col-sm-4">
                    <p class="mb-0"><strong>ONLINE ANALYZERS</strong></p>
                    <p>Online measurements of charge, fiber morphology and freeness with SPC, SPM, DRT</p>

                    <p class="mb-0"><strong>PERFORMANCE SOLUTIONS</strong></p>
                    <p>Advanced services and diagnosis to unlock process capabilities and performance</p>
                </div>
                <div class="col-sm-4">
                    <img [src]="data[0].img4" style="width: 100%;; height: 100%;" />
                </div>
                <div class="col-sm-4">
                    <p class="mb-0 text-right"><strong>OPERATIONAL INTELLIGENCE</strong></p>
                    <p class="text-right">Enhanced decision making capabilities based on process knowledge, keeping production at high level with best quality with data[0]PARC</p>

                    <p class="mb-0 text-right"><strong>OPERATIONAL SAFETY</strong></p>
                    <p class="text-right">Optimum Yankee safety with advanced vibration monitoring solution and experience </p>
                </div>
            </div>

            <div id="lev1" class="row my-4 mx-auto justify-content-center" style="padding: 60px 0;">
                <div class="col-sm-4">
                    <p class="mb-0"><strong>FIBER MANAGEMENT</strong></p>
                    <p>Fiber quality and property improvement and control; refining, fiber morphology and drainage optimization
                    </p>

                    <p class="mb-0"><a routerLink="/consistency-control"><strong class="text-dark">CONSISTENCY
                                CONTROL</strong></a></p>
                    <p>Fiber, fines and ash consistency, monitoring and retention control</p>

                    <p class="mb-0"><strong>WET-END STABILITY</strong></p>
                    <p>Process chemical and fiber recovery improvement through charge and zeta potential measurement</p>
                </div>
                <div class="col-sm-4">
                    <img [src]="data[0].img5" style="width: 100%;; height: 100%;" />
                </div>
                <div class="col-sm-4">
                    <p class="mb-0 text-right"><strong>SHEET UNIFORMITY</strong></p>
                    <p class="text-right">Uniform sheet formation, moisture and grammages profile with headbox sheets and services</p>

                    <p class="mb-0 text-right"><strong>YANKEE SAFETY</strong></p>
                    <p class="text-right">Secure Yankee operation with essential vibration monitoring system </p>

                    <p class="mb-0 text-right"><strong>CREPING</strong></p>
                    <p class="text-right">Engineered creping/cleaning doctors, CBC blade holder and appropriate services
                    </p>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>

<!-- Tissue page end of main catagory -->