<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='MEK'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h1 class="text-white">{{ productName }}</h1>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h1 class="text-white">{{ productName }}</h1>
    </div>

    <section *ngIf="productName == 'MEK'" style="padding: 100px 0;">
        <div class="container">
            <div *ngFor="let m of mekProducts; let i = index" class="row mx-auto my-4">
                <div *ngIf=" i % 2 == 0" class="col-sm-8 align-self-center">
                    <a href="/#/product/1/?type={{m.name}}&id={{m.id}}" [queryParams]="{ type : 'm.name', id : 'm.id' }">
                        <h3 class="text-danger"><u>{{ m.name }}</u></h3>
                    </a>

                    <p class="mt-4">
                        {{ m.description }}
                    </p>
                </div>

                <div class="col-sm-4 text-center ">
                    <img src="{{ m.photoURL }}" alt="">
                </div>
                <div *ngIf=" i % 2 != 0" class="col-sm-8 align-self-center">
                    <h3 class="text-danger"><u>{{ m.name }}</u></h3>

                    <p class="mt-4">
                        {{ m.description }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="!showProductDeatil" style="padding: 100px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-6">
                    <h1>{{ mekProducts[productId - 1].name }}</h1>
                    <p>Rotating shear force transmitter for fiber consistency from 1 – 16%

                    </p>
                    <p>The MEK-2500 RotoForceTM inline transmitter measures fiber consistency of pulp suspensions in the range of 1 – 16%. This rotating shear force transmitter works practically in every measuring position in pulping, bleaching and papermaking
                        application.
                    </p>
                </div>

                <div class="col-sm-6 text-center">
                    <img src="{{ mekProducts[productId - 1].photoURL }}" alt="">
                </div>
            </div>

            <div class="row mx-auto">
                <div class="col-sm-6">
                    <h2>Benefits</h2>

                    <ul class="mt-4">
                        <li>Fiber consistency measurement from 1 to 16%</li>
                        <li>Easy installation also in 300 mm pipelines without a vessel</li>
                        <li>Applicable in the blow line after digester, in screening and washing stages, bleach plant till machine chest</li>
                        <li>Closed loop consistency control</li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h2>Specifications</h2>

                    <p class="mt-4">The sensor is intended for inline installation into pulp- and papermaking process lines via a welded stud. It works via a 3-phase electric motor.</p>

                    <div class="row mx-auto">
                        <div class="col-6">
                            <h6>Measuring range</h6>
                            <p>Shear force transmitter for 1 to 16 % fiber consistency</p>
                        </div>
                        <div class="col-6">
                            <h6>Material</h6>
                            <p>Wetted parts are made out of stainless steel, EN 1.4404</p>
                        </div>
                    </div>

                    <div class="mx-3">
                        <h6>Process</h6>

                        <ul>
                            <li>Pressure 10 bar (145 psi) to 25 bar (360 psi) depending on selected transmitter components
                            </li>
                            <li>Media temperature max. 150°C [300°F] – min. 15°C [60°F]</li>
                            <li>Flow limits 0.5 – 5 m/s</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>


</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='MEK-3000'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[0].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[0].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">




                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[0].name}}</h4>

                    <p class="mt-3 text-justify">{{products[0].description}}
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[0].image}}" alt="" class="img-fluid" style="width: 100%;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[0].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[0].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>

            </div>

        </div>
    </section>


    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-2 btn-danger">See Product Sheet MEK-3000</button>
                    <p class="mb-0  my-2">Also previous MEK generation is available
                    </p>
                    <button class="btn btn-lg my-2 btn-danger">See Product Sheet MEK-2500</button>
                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->



</div>


<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='ACT-2500'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[1].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[1].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">




                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[1].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[1].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[1].image}}" alt="" class="img-fluid" style="width: 100%;height: 80%;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[1].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[1].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>



            </div>

        </div>
    </section>

    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-2 btn-danger">See Product Sheet ACT-2500</button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->



</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='MBT-2500'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[2].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[2].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[2].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[2].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[2].image}}" alt="" class="img-fluid" style="width: 100%;height: 80%;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[2].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[2].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>






            </div>

        </div>
    </section>
    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-2 btn-danger">See Product Sheet MBT-2500</button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->

</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='SBT-2400'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[3].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[3].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[3].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[3].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[3].image}}" alt="" class="img-fluid" style="width: 70%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[3].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[3].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>






            </div>

        </div>
    </section>

    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-2 btn-danger">See Product Sheet SBT-2400</button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->


</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='TCX-25xx'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[4].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[4].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[4].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[4].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[4].image}}" alt="" class="img-fluid" style="width: 100%;height: 100%;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[4].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[4].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>





            </div>

        </div>
    </section>


    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet One output TCR-2501/2511
                        </button>
                    <br><br>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet Two output TCR-2502/2512
                        </button>

                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->


</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='TCT-25x1'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[5].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[5].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[5].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[5].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[5].image}}" alt="" class="img-fluid" style="width: 100%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[5].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[5].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>






            </div>

        </div>
    </section>

    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet One output TCT-2501/2511


                            </button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->

</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='MCT-2000'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[6].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[6].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[6].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[6].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[6].image}}" alt="" class="img-fluid" style="width: 100%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[6].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[6].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>






            </div>

        </div>
    </section>

    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product MCT-2000
                            </button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->


</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='MCS-1000'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[7].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[7].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[7].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[7].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[7].image}}" alt="" class="img-fluid" style="width: 100%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[7].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[7].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>







            </div>

        </div>
    </section>

    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product MCS-1000
                        </button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->
</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='MPS-/PPS-1000'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[8].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[8].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[8].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[8].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[8].image}}" alt="" class="img-fluid" style="width: 100%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[8].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[8].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>





            </div>

        </div>
    </section>
    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet MPS-/PPS-1000

                        </button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->

</div>


<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='SPC-5500'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[9].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[9].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[9].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[9].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[9].image}}" alt="" class="img-fluid" style="width: 50%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[9].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[9].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>







            </div>

        </div>
    </section>
    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet SPC-5000

                        </button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->

</div>


<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='SPC-5550'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[10].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[10].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[10].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[10].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[10].image}}" alt="" class="img-fluid" style="width: 50%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[10].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[10].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>





            </div>

        </div>
    </section>

    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet SPM-5550</button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->


</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='DRT-5500'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[11].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[11].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[11].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[11].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[11].image}}" alt="" class="img-fluid" style="width: 50%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[11].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[11].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>






            </div>

        </div>
    </section>
    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet DRT-5500

                        </button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->

</div>


<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='RET-5503'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[12].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[12].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[12].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[12].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[12].image}}" alt="" class="img-fluid" style="width: 50%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[12].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[12].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>






            </div>

        </div>
    </section>
    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger" style="padding:22px 20px;">See product sheet RET-550</button>
                    <br><br>

                    <button class="btn btn-lg my-3 btn-danger">See also RET-2502 for inline <br> retention measurement</button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->

</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='SPK-5500'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[13].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[13].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[13].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[13].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[13].image}}" alt="" class="img-fluid" style="width: 100%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[13].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[13].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>






            </div>

        </div>
    </section>
    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet SPK-5500

                        </button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->

</div>


<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='GAS-60'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[14].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[14].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[14].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[14].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[14].image}}" alt="" class="img-fluid" style="width: 50%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[14].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[14].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>






            </div>

        </div>
    </section>

    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet GAS-60

                        </button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->
</div>

<div *ngIf="catName=='tissue' && subCatName=='consistency-control' && subSubCatName=='instrument' && productName=='RPA-5000'">
    <!-- <section id="careers">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-dark">
                    <div style="height: 35vh; background-color: var(--danger) ;background-size: cover ; background-repeat: no-repeat;  ">
                        <div class="container text-center slide1" style="position: relative; top: 70%;">

                            <h2 class="text-white"> {{products[15].name}} </h2>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="red-title-banner">
        <h2 class="text-white"> {{products[15].name}} </h2>
    </div>

    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-sm-7">
                    <h4 style="font-weight: 600;">{{products[15].name}}</h4>

                    <p class="mt-3 text-justify" [innerHTML]="products[15].description">
                    </p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"> <img src="{{products[15].image}}" alt="" class="img-fluid" style="width: 80%;height: auto;"></div>


                <div class="col-sm-7">
                    <h4 style="font-weight: 600;" class="mt-5">Benefits</h4>

                    <ul class="mb-0" *ngFor="let b of products[15].benefits;let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{b}}</li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4 style="font-weight: 600;" class="mt-5">Specifications</h4>
                    <ul class="mb-0" *ngFor="let s of products[15].specification; let i = index">
                        <li [ngClass]="{'mt-4':i==0}">{{s}}</li>
                    </ul>
                </div>





            </div>

        </div>
    </section>

    <!-- DataSHeet Start-->
    <section style="padding:50px 0;">
        <div class="container">
            <div class="data-sheet">

                <div>
                    <button class="btn btn-lg my-3 btn-danger">See Product Sheet RPA-5000
    
                            </button>


                </div>

            </div>
        </div>
    </section>
    <!-- DataSHeet End-->


</div>
<app-footer></app-footer>