img {
    width: 50%;
    height: 100%;
}

.my-4 {
    margin: 36px 0 !important;
}

.contact-home {
    width: 100% !important;
    height: 50vh;
    background: url('../../assets/hero/conatct.png') no-repeat;
}

li {
    margin-left: 2% !important;
}

p {
    text-align: justify !important;
}

.hoverr {
    cursor: pointer;
    padding: 10px 25px;
}

.hoverr:hover {
    background-color: #F38B88;
    -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.15);
    padding: 10px 25px;
    border-radius: 2px;
}