.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: black !important;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}


/* .read-more{
    display: none;
} */

.card:hover {
    transform: scale(1.01);
    display: block;
    box-shadow: 0 6px 16px 1px #ccc;
}

@media only screen and (max-width: 600px) {
    .slide1 {
        top: 25% !important;
    }
    .slide2,
    .slide3 {
        top: 25% !important;
    }
    .left {
        float: left !important;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.testimonials {
    padding: 42px;
}

@media only screen and (max-width: 600px) {
    .heading-mobile {
        font-size: 1.5rem !important;
    }
}

iframe {
    width: 100%;
    height: 250px;
}

.customers {
    width: 100px !important;
}

.contact-home {
    width: 100%;
    height: 50vh;
    background: url('../../assets/hero/conatct.png') no-repeat;
}