<section id="rye_student">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active text-dark">
                <div style="height: 100vh; background-image: url('../../../../assets/hero/hero1.png');background-size: cover ; background-repeat: no-repeat;  ">
                    <div class="container text-center slide1" style="position: relative; top: 35%;">
                        <button class="btn btn-outline-danger btn-lg">Pulp 4.0</button>

                        <div class="row my-4">
                            <div class="col-6">
                                <p class="mb-0">Tuesday 16 March</p>
                                <p class="mb-0">9AM(Paris) / 4PM(Sinapore)</p>
                                <hr class="my-2 border-dark">
                                <p class="mb-0">Henrique Milanez</p>
                                <p class="mb-0">Tero Kasala</p>
                            </div>
                            <div class="col-6">
                                <p class="mb-0">Thursday 18 March</p>
                                <p class="mb-0">5AM(Paris) / 9PM(New-York)</p>
                                <hr class="my-2 border-dark">
                                <p class="mb-0">Demi Lidorikiotis</p>
                                <p class="mb-0">Renato Onofre</p>
                            </div>
                        </div>
                        <p class="font-weight-bold mb-0">Are you facing challenges in optimizing your fiberline productivity, pulp quality and profitability? Learn from our pulp mill experts how a holistic approach from BTG can make a difference in the results.</p>
                        <p class="font-weight-bold">Interested?</p>
                        <p>Takes 2 min</p>

                        <button class="btn btn-danger my-4">Count me in</button>
                    </div>

                </div>
            </div>
            <div class="carousel-item text-dark">
                <div style="height: 100vh; background-image: url('../../../../assets/hero/hero1.png');background-size: cover ; background-repeat: no-repeat;  ">
                    <div class="container slide2" style="position: relative; top: 35%">
                        <h1 class="text-center heading-mobile font-weight-bold">BTG integrates solutions for sustainable gains in business performance across your mill operations</h1>

                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-3 ">
                                        <img src="../../../../assets/hero/hero-tick.png" />
                                    </div>
                                    <div class="col-9">
                                        <h6>Best in-class solutions</h6>
                                        <p>Leading-edge product application solutions deliver best-in-class solution for tissue manufacturing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-3 ">
                                        <img src="../../../../assets/hero/hero-tick.png" />
                                    </div>
                                    <div class="col-9">
                                        <h6>Proven cross-mill benefits</h6>
                                        <p>An integrated whole-of-mill approach that unlock new levels of process optimization
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-3 ">
                                        <img src="../../../../assets/hero/hero-tick.png" />
                                    </div>
                                    <div class="col-9">
                                        <h6>Trusted at every level</h6>
                                        <p>Measurable performance gains that support operational, maintenance and project professionals
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="carousel-item text-dark">
                <div style="height: 100vh; background-image: url('../../../../assets/hero/hero1.png');background-size: cover ; background-repeat: no-repeat;  ">
                    <div class="container slide3" style="position: relative; top: 35%">
                        <h1 class="heading-mobile">Improve your tissue processes, discover our solutions</h1>

                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="../../../../assets/hero/tick.png" />
                                    </div>
                                    <div class="col-10">
                                        <h6>Total application support</h6>
                                        <p>Custom-designed solutions for facial tissue, bathroom tissue, napkin and towelling production</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="../../../../assets/hero/plus.png" />
                                    </div>
                                    <div class="col-10">
                                        <h6>The benefits all add up</h6>
                                        <p>BTG’s integrated solutions help you to raise yields, improve fiber savings, ensure Yankee safety, improve machine efficiency and deliver uniform product quality
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="../../../../assets/hero/arrows.png" />
                                    </div>
                                    <div class="col-10">
                                        <h6>Designed for your process</h6>
                                        <p>Optimized to your specific requirements by a specialist tissue application engineering team</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!-- News and Press Release -->
<section style="padding: 100px 0;">
    <div class="container">

        <div>
            <h1 class="text-center">News and Press Release</h1>
            <button class="btn btn-danger mx-2 left float-right">Subscribe</button>
            <button class="btn btn-danger mx-2 right float-right">Read All</button>
        </div>
        <br><br>
        <div class="row my-4 m-auto">
            <div class="col-sm-4 ">
                <div class="card rounded-0 border-0 mx-4 my-4">
                    <img class="card-img-top" src="../../../../assets/hero/news.png" alt="Card image cap">
                    <div class="card-body ">
                        <div class="p-2" style="position: relative; margin-top: -20%; margin-left: -7.5%; background-color: white;">
                            <h6 class="card-title">BTG introduces MACSash™, an attractive return on investment solution to optimize paper quality</h6>
                            <small>MACSashTM is an innovative solution that combines model predictive
                                control,
                                innovative measurements and support services... </small>
                            <br>
                            <small class="card-text">26 Sep 2021</small>
                            <a href="#" class="text-danger read-more float-right">Read More</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card rounded-0 border-0 mx-4 my-4">
                    <img class="card-img-top" src="../../../../assets/hero/news.png" alt="Card image cap">
                    <div class="card-body ">
                        <div class="p-2" style="position: relative; margin-top: -20%; margin-left: -7.5%; background-color: white;">
                            <h6 class="card-title">BTG introduces MACSash™, an attractive return on investment solution to optimize paper quality</h6>
                            <small>MACSashTM is an innovative solution that combines model predictive
                                control,
                                innovative measurements and support services... </small>
                            <br>
                            <small class="card-text">26 Sep 2021</small>
                            <a href="#" class="text-danger read-more float-right">Read More</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card rounded-0 border-0 mx-4 my-4">
                    <img class="card-img-top" src="../../../../assets/hero/news.png" alt="Card image cap">
                    <div class="card-body ">
                        <div class="p-2" style="position: relative; margin-top: -20%; margin-left: -7.5%; background-color: white;">
                            <h6 class="card-title">BTG introduces MACSash™, an attractive return on investment solution to optimize paper quality</h6>
                            <small>MACSashTM is an innovative solution that combines model predictive
                                control,
                                innovative measurements and support services... </small>
                            <br>
                            <small class="card-text">26 Sep 2021</small>
                            <a href="#" class="text-danger read-more float-right">Read More</a>
                        </div>

                    </div>
                </div>
            </div>






        </div>
    </div>
</section>


<!-- Testimonials -->
<section style="padding: 50px 0;">
    <div class="container">

        <h1 class="text-center">Testimonials</h1>

        <div class="row m-auto">
            <div class="col-sm-4 ">
                <div class="card border-0 rounded-0 shadow mx-4 my-4">
                    <div class="card-body testimonials">
                        <img src="../../../../assets/hero/quotes.png" />
                        <p class="ml-4">Proin lacus massa, eleifend sed fermentum in, dignissim vel metus. Nunc accumsan leo nec felis porttitor, ultricies faucibus purus mollis.</p>

                        <div class="row mt-4">
                            <div class="col-4">
                                <img src="../../../../assets/hero/person.png" />
                            </div>
                            <div class="col-8">
                                <p class="white-space: nowrap;" class="mb-0">Sofia Kuznetsov</p>

                                <small>Customer</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card border-0 rounded-0 shadow mx-4 my-4">
                    <div class="card-body testimonials">
                        <img src="../../../../assets/hero/quotes.png" />
                        <p class="ml-4">Proin lacus massa, eleifend sed fermentum in, dignissim vel metus. Nunc accumsan leo nec felis porttitor, ultricies faucibus purus mollis.</p>

                        <div class="row mt-4">
                            <div class="col-4">
                                <img src="../../../../assets/hero/person.png" />
                            </div>
                            <div class="col-8">
                                <p class="white-space: nowrap;" class="mb-0">Sofia Kuznetsov</p>

                                <small>Customer</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card border-0 rounded-0 shadow mx-4 my-4">
                    <div class="card-body testimonials">
                        <img src="../../../../assets/hero/quotes.png" />
                        <p class="ml-4">Proin lacus massa, eleifend sed fermentum in, dignissim vel metus. Nunc accumsan leo nec felis porttitor, ultricies faucibus purus mollis.</p>

                        <div class="row mt-4">
                            <div class="col-4">
                                <img src="../../../../assets/hero/person.png" />
                            </div>
                            <div class="col-8">
                                <p class="white-space: nowrap;" class="mb-0">Sofia Kuznetsov</p>

                                <small>Customer</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!-- Videos -->
<section style="padding: 50px 0;">
    <div class="container">
        <h1 class="text-center">See what we do</h1>
        <owl-carousel-o [options]="customOptions" class="mt-4 text-center">
            <ng-template carouselSlide class="col-sm-6">
                <div class="mx-2 my-2">
                    <iframe src="https://www.youtube.com/embed/NKzd_YiW9AQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h6 class="text-left">BTG Learning Academy - CONSISTENCY</h6>
                    <p class="text-left">Learn about the importance of consistency in the paper-making process
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide class="col-sm-6">
                <div class="mx-2 my-2">
                    <iframe src="https://www.youtube.com/embed/NKzd_YiW9AQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h6 class="text-left">BTG Learning Academy - CONSISTENCY</h6>
                    <p class="text-left">Learn about the importance of consistency in the paper-making process
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide class="col-sm-6">
                <div class="mx-2 my-2">
                    <iframe src="https://www.youtube.com/embed/NKzd_YiW9AQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h6 class="text-left">BTG Learning Academy - CONSISTENCY</h6>
                    <p class="text-left">Learn about the importance of consistency in the paper-making process
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide class="col-sm-6">
                <div class="mx-2 my-2">
                    <iframe src="https://www.youtube.com/embed/NKzd_YiW9AQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h6 class="text-left">BTG Learning Academy - CONSISTENCY</h6>
                    <p class="text-left">Learn about the importance of consistency in the paper-making process
                    </p>
                </div>
            </ng-template>



        </owl-carousel-o>
    </div>
</section>

<section style="padding: 50px 0;">
    <div class="container">
        <h1 class="text-center">Our Customers</h1>

        <owl-carousel-o [options]="customOptions2">
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/loyalty.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/sap.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/udaan.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/zest.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/loyalty.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/sap.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/udaan.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/zest.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/loyalty.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/sap.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/udaan.png" />
            </ng-template>
            <ng-template carouselSlide>
                <img class="mx-2 customers" src="../../../../assets/customers/zest.png" />
            </ng-template>


        </owl-carousel-o>
    </div>
</section>

<section class="contact-home">
    <div class="text-center" style="position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%);">
        <h3 class="text-center">Can’t find a solution you are after?
            <br>We can still help, talk to our experts today
        </h3>
        <button class="btn btn-danger btn-lg mt-4">Contact BTG</button>
    </div>

</section>

<section style="padding: 100px 0;">
    <div class="container">
        <h1 class="text-center">Supporting tissue manufacturers around the world</h1>

        <img src="../../../../assets/hero/map.png" style="width: 100%; height: 100%;" class="mt-4">
    </div>
</section>
<section style="padding: 100px 0;">
    <div class="container text-center shadow p-4 ">
        <h1 class="text-center">Subscribe for getting exclusive news</h1>

        <input style="border: 0" type="text" class="form-control mx-auto col-sm-4 rounded-0 border-bottom mt-4 border-dark " placeholder="Type your email ...">
        <button class="btn btn-danger btn-lg mt-4">Subscribe</button>
    </div>
</section>

<!-- <app-footer></app-footer> -->