<section id="about">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active text-dark">
                <div style="height: 75vh; background-image: url('../../../../assets/hero/hero1.png');background-size: cover ; background-repeat: no-repeat;  ">
                    <div class="container text-center slide1" style="position: relative; top: 50%;">

                        <h1>History</h1>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section style="padding: 100px 0;">
    <div class="container">


        <div class="row mx-auto my-4">
            <div class="col-sm-4 d-inline-block">
                <h1 class="text-center mb-4">
                    Who We Are
                </h1>
                <img src="../../assets/history/history.png" style="width: 100%; " alt="" srcset="">
            </div>

            <div class="col-sm-8 d-inline-block">
                <p>Our story began in 1921 when Dr. Torsten Källe founded the Källe Regulator Company in Säffle, Sweden. Over the course of the next several decades, the company invented, developed and applied a broad range of pulp consistency and processing
                    transmitters, before becoming Eur-Control in the 1960s and merging with coater manufacturer AB Inventing in 1985 to become BTG (Bonnier Technology Group).</p>
                <p>The group also become an innovator in the research and development of ceramic high-performance coating blades: BTG received the first patent for these blades in 1983, and metallic technologies and tissue creping blades followed in 1990.</p>
                <p>
                    In 2001, BTG acquired Mütek of Herrsching, Germany, incorporating their broad portfolio of in-line and laboratory sensors and analyzers; and the acquisition of IPI LLC in 2006, integrated additional metering technologies for coating color and film-metering
                    size presses.
                </p>
                <p>BTG acquired Capstone Technology Corporation in 2016. Based in Vancouver, WA and Seattle, USA, Capstone is a leading provider of software for process control optimization and decision support analytics across several processing industries.</p>
                <p>In 2019, BTG was acquired by Voith, a leader in the Pulp and Paper, opening new opportunities of collaboration and added value for our customers.</p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>